<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"

xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

<mirrors>

<mirror>

<id>maven-central</id>

<mirrorOf>central</mirrorOf>

<name>Local Proxy for central repo</name>

<url>http://localhost:8081/repository/maven-central/</url>

</mirror>

</mirrors>

<profiles>

<profile>

<id>repositories</id>

<repository>

<id>mavencentral</id>

<url>http://localhost:8081/repository/maven-central/</url>

<snapshots>

<enabled>true</enabled>

<checksumPolicy>warn</checksumPolicy>

</snapshots>

<releases>

<enabled>true</enabled>

<checksumPolicy>fail</checksumPolicy>

</releases>

</repository>

<properties>

<altSnapshotDeploymentRepository>artifactory.snapshots::default::http://localhost:8081/repository/maven-snapshots/</altSnapshotDeploymentRepository>

<altReleaseDeploymentRepository>artifactory.releases::default::http://localhost:8081/repository/maven-releases/</altReleaseDeploymentRepository>

</properties>

</profile>

</profiles>

<servers>

<server>

<id>artifactory.snapshots</id>

<username>sridhar</username>

<password>yrebel@1</password>

</server>

<server>

<id>artifactory.releases</id>

<username>sridhar</username>

<password>yrebel@1</password>

</server>

</servers>

<activeProfiles>

<activeProfile>repositories</activeProfile>

</activeProfiles>

</settings>

